<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="component.css">
    <title>Template</title>
</head>

<body class="vbox h-100">

    <div class="spacer"></div>

    <main class="vbox">
        <div class="hbox">
            <div class="box yellow-bg"></div>
            <div class="box blue-bg"></div>
        </div>
        <div class="hbox">
            <div class="box red-bg"></div>
            <div class="box green-bg"></div>
        </div>
    </main>

    <div class="spacer"></div>

    <script src="component.js"></script>
</body>

</html>